@import '../../assets/styles.scss';

.order {
    color: white;
    font-family: $primary-font;
    font-size: $font-m;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1vh;

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 5px;
        font: inherit;
        outline: inherit;
        cursor: pointer;
        text-align: start;
    }

    button:focus {
        background-color: white;
        color: $blue;
    }
}