@import '../../assets/styles.scss';

.order {
    color: white;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        outline: inherit;
        font-size: $font-s;
        margin-bottom: 1vh;
        cursor: pointer;
    }
}