@import '../../assets/styles.scss';

.searchBar {
    
    margin: 1vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    input {
        background-color: $blue;
        border: white 2px solid;
        font-size: $font-m;
        font-family: $primary-font;
    }

    input:focus, button:focus {
        background-color: white;
        color: $blue;
        border: $blue 2px solid;
    }
    
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 5px;
        font: inherit;
        outline: inherit;
        margin-bottom: 1vh;
        cursor: pointer;
        font-size: $font-m;
        font-family: $primary-font;
    }
}

@media screen and (max-width: 767px) {

    .searchBar {

        h4, input, button {
            font-size: $font-xs;
        }
    }
}

