@import '../../assets/styles.scss';

.checkBox {
    display: flex;
    align-items: center;
    color: white;
    font-family: $primary-font;
    font-size: $font-m;
    margin: 1vh;

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 5px;
        font: inherit;
        outline: inherit;
        margin-bottom: 1vh;
        cursor: pointer;
    }

    button:focus {
        background-color: white;
        color: $blue;
    }
}