@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Cabin+Sketch&display=swap');

$primary-font: 'Big Shoulders Display', cursive;
$title-font: 'Cabin Sketch', cursive;

$font-l: 40px;
$font-m: 40px;
$font-s: 20px;
$font-xs: 40px;